In [1]:
import numpy as np
import pandas as pd
df_incidents = pd.read_excel('nehody-brno.xlsx')
print('Dataset downloaded and read into a pandas dataframe!')

Dataset downloaded and read into a pandas dataframe!

In [2]:
%%capture
! pip install seaborn

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
print(df_incidents.dtypes)

ID                           int64
Datum               datetime64[ns]
Den                         object
Day                         object
DenNoc                      object
DayNight                    object
DruhNehody                  object
Type                        object
Zavineni                    object
CausedBy                    object
Alkohol                     object
Alcohol                     object
HlavniPricina               object
MainCause                   object
Usmrceno                     int64
Tezce                        int64
Lehce                        int64
DeathToll                    int64
HeavyInjuries                int64
LightInjuries                int64
StavPovrchu                 object
RoadCondition               object
Pocasi                      object
Weather                     object
SpecifikaceMista            object
PlaceSituation              object
DruhVozidla                 object
VehicleType                 object
Smyk                        object
Skyd                        object
Skoda                        int64
X                          float64
Y                          float64
dtype: object

In [6]:
df_incidents.corr()

,ID,Usmrceno,Tezce,Lehce,DeathToll,HeavyInjuries,LightInjuries,Skoda,X,Y
ID,1.000000,0.020286,0.014330,0.053436,0.020286,0.014330,0.053436,-0.076864,-0.054838,-0.415401
Usmrceno,0.020286,1.000000,0.141256,0.022023,1.000000,0.141256,0.022023,0.075650,0.000038,-0.005521
Tezce,0.014330,0.141256,1.000000,0.055566,0.141256,1.000000,0.055566,0.089588,-0.029775,-0.007123
Lehce,0.053436,0.022023,0.055566,1.000000,0.022023,0.055566,1.000000,0.216553,-0.004171,-0.051320
DeathToll,0.020286,1.000000,0.141256,0.022023,1.000000,0.141256,0.022023,0.075650,0.000038,-0.005521
HeavyInjuries,0.014330,0.141256,1.000000,0.055566,0.141256,1.000000,0.055566,0.089588,-0.029775,-0.007123
LightInjuries,0.053436,0.022023,0.055566,1.000000,0.022023,0.055566,1.000000,0.216553,-0.004171,-0.051320
Skoda,-0.076864,0.075650,0.089588,0.216553,0.075650,0.089588,0.216553,1.000000,-0.003419,0.003804
X,-0.054838,0.000038,-0.029775,-0.004171,0.000038,-0.029775,-0.004171,-0.003419,1.000000,-0.148416
Y,-0.415401,-0.005521,-0.007123,-0.051320,-0.005521,-0.007123,-0.051320,0.003804,-0.148416,1.000000

In [9]:
df_incidents.describe(include=['object'])

,Den,Day,DenNoc,DayNight,DruhNehody,Type,Zavineni,CausedBy,Alkohol,Alcohol,...,StavPovrchu,RoadCondition,Pocasi,Weather,SpecifikaceMista,PlaceSituation,DruhVozidla,VehicleType,Smyk,Skyd
count,7659,7659,7659,7659,7659,7659,7659,7659,7659,7659,...,7659,7659,7659,7659,7659,7659,7659,7659,7659,7659
unique,7,7,2,2,10,10,8,7,5,5,...,10,10,8,8,7,7,13,13,2,2
top,Pátek,Friday,Den,Day,Srážka s jedoucím nekolejovým vozidlem,Collision with other motor vehicle,Řidičem motorového vozidla,Car driver,Ne,No,...,"Suchý, neznečištěný",Dry and clean,Neztížené,Clear,Žádné,None,Osobní automobil,Car,Ne,No
freq,1233,1233,5587,5587,2188,2188,6057,6057,3677,3677,...,6048,6048,6877,6877,5466,5466,4510,4510,6938,6938

In [10]:
df_incidents.describe()

,ID,Usmrceno,Tezce,Lehce,DeathToll,HeavyInjuries,LightInjuries,Skoda,X,Y
count,7.659000e+03,7659.000000,7659.000000,7659.00000,7659.000000,7659.000000,7659.00000,7.659000e+03,7659.000000,7.659000e+03
mean,6.040519e+10,0.006398,0.042564,0.36258,0.006398,0.042564,0.36258,3.137800e+04,-594994.748860,-1.167767e+06
std,3.694762e+08,0.081356,0.226284,0.67296,0.081356,0.226284,0.67296,5.933359e+04,19584.360189,2.037920e+04
min,6.004018e+10,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000e+00,-673203.594000,-1.219810e+06
25%,6.020618e+10,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000e+00,-602041.092000,-1.183761e+06
50%,6.030618e+10,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,1.000000e+04,-597378.876000,-1.162278e+06
75%,6.040618e+10,0.000000,0.000000,1.00000,0.000000,0.000000,1.00000,4.000000e+04,-587019.475000,-1.157590e+06
max,6.130618e+10,2.000000,4.000000,7.00000,2.000000,4.000000,7.00000,1.300000e+06,-529737.809000,-1.113834e+06

In [79]:
grouped_test2=df_incidents[['CausedBy','DeathToll','HeavyInjuries','LightInjuries','Skoda']].groupby(['CausedBy']).sum()
grouped_test2

,DeathToll,HeavyInjuries,LightInjuries,Skoda
CausedBy,,,,
Car driver,45,273,2385,205543700
Non-motorized vehicle driver,2,32,250,661400
Other,0,2,12,1135500
Pedestrian,2,17,111,1275000
Road defect,0,0,0,278000
Technical malfunction of a vehicle,0,0,9,490000
"Wildlife animal, pet",0,2,10,30940500

In [80]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [84]:
grouped_test2['CausedBy'].plot(kind='pie',
                            figsize=(5, 6),
                            autopct='%1.1f%%', # add in percentages
                            startangle=90,     # start angle 90° (Africa)
                            shadow=True,       # add shadow      
                            )

plt.title('Immigration to Canada by Continent [1980 - 2013]')
plt.axis('CausedBy') # Sets the pie chart to look like a circle.

plt.show()

KeyError: 'CausedBy'